.key {
  background-color: gainsboro;
  border-bottom: 1px solid dimgray;
  border-left: 1px solid white;
  border-right: 1px solid lightgray;
  border-top: 1px solid white;
  cursor: default;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

#key_clear {
  background-color: darkred;
  color: white;
  width: 154px;
}

#key_0 {
  width: 102px;
}

#key_division,
#key_multiplication,
#key_substraction,
#key_addition,
#key_equal {
  background-color: orange;
  color: white;
}
